/* This is for screned devices */

/*
1. Import are first
2. General style Rules 
3. Mobile First devices
4. Larger Screen Sizes (Media Query Required)*/

/* 1. Import statement */
@import url('https://fonts.googleapis.com/css?family=Sansita');

/* 2. General style Rules */
.hide {
    display: none;
}

.forecasthours {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

/* 3. Mobile Rules */

#dial {

    height: 150px;

    width: 150px;

    background: no-repeat center/85% url('/images/wind-pointer.png');

    z-index: 100;

    margin: -.6em auto 0;

    transform: rotate(270deg);

}

#windspeed {
    font-size: 1em;
    margin-top: -5em;
    margin-bottom: 5em;
}


#dial.n {

    transform: rotate(0deg);

}

#dial.ne {

    transform: rotate(45deg);

}

#dial.nw {

    transform: rotate(315deg);

}

#dial.e {

    transform: rotate(90deg);

}

#dial.s {

    transform: rotate(180deg);

}

#dial.sw {

    transform: rotate(225deg);

}

#dial.se {

    transform: rotate(135deg);

}

#dial.w {

    transform: rotate(270deg);

}

header {
    font-size: 100%;
}

header img {
    width: 20%;
}

#sectionContainer {
    background-size: cover;
}

/* Background pictures for summary */
.clear {
    background-image: url("../responsive_media/images/clear_300.jpg");
}

/* Background pictures for summary */
.fog {
    background-image: url("../responsive_media/images/fog_300.jpg");
}

/* Background pictures for summary */
.snow {
    background-image: url("../responsive_media/images/snow_300.jpg");
}

/* Background pictures for summary */
.rain {
    background-image: url("../responsive_media/images/rain_300.jpg");
}

/* Background pictures for summary */
.clouds {
    background-image: url("../responsive_media/images/clouds_300.jpg");
}

#container {
    width: 95%;
    margin: 0 auto;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit
}

.title {
    background-color: rgba(200, 200, 200, .6);
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
}

nav ul li {
    list-style: none;
}

nav {
    position: fixed;
    background-color: white;
    width: 100%;
    bottom: 0;
    left: 0;
    border: 2px solid;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
}

footer {
    margin-bottom: 2em;
}

.small {
    font-size: 2vh;
    text-align: center;
}

section ul {
    list-style-type: none;
}

.big {
    font-size: 10vh;
    font-weight: bold;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

#weather img {
    width: 80%;
}

#sectionContainer section {
    padding: 5px;
}

#forecast {
    display: none;
}

/* 2.1 Typhography section */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sansita, sans-serif;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}

/* 4.Larger screen Rules*/
@media screen and (min-width: 700px) {
    
nav {
    position: relative;
}
    .clear {
        background-image: url("../responsive_media/images/clear_500.jpg");
    }

    /* Background pictures for summary */
    .fog {
        background-image: url("../responsive_media/images/fog_500.jpg");
    }

    /* Background pictures for summary */
    .snow {
        background-image: url("../responsive_media/images/snow_500.jpg");
    }

    /* Background pictures for summary */
    .rain {
        background-image: url("../responsive_media/images/rain_500.jpg");
    }

    /* Background pictures for summary */
    .clouds {
        background-image: url("../responsive_media/images/clouds_500.jpg");
    }

    /* All CSS rule for large screens go here*/
    header img {
        width: 10%;
    }

    header p {
        font-size: 8vh;
    }

    nav {
        font-size: 4vh;
    }

    nav ul {
        padding: 4px;
    }

    .small {
        font-size: 4vh;
        text-align: left;
    }

    #sectionContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #sectionContainer section {
        width: 30%;
    }

    #forecast {
        display: block;
    }

}
